<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>social主页</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>


</head>
<body>

<div class="media" th:each="item : ${timeline}">
<!--    <div class="media-left">-->
<!--        <a href="#">-->
<!--            <img class="media-object" src="" alt="">-->
<!--        </a>-->
<!--    </div>-->
    <h4 class="media-heading" th:text="${item.login}"></h4>
    <div class="media-body" th:text="${item.message}"></div>
<!--    <div class="media-body" th:text="${item.posted}"></div>-->
    <div class="media-body" th:text="${#dates.format(item.posted, 'yyyy-MM-dd HH:mm:ss')}"></div>
</div>

</body>

<script th:inline="javascript">

    var timeline = [[${timeline}]];
    console.log(timeline);

</script>

</html>
